#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.app-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main-view {
  padding-top: 150px;
  flex: 1 0 100%;
  text-align: center;
  position: relative;
}

.main-view h3 {
  margin-bottom: 70px;
}

.contacts-view {
  flex: 0 0 50%;
  padding: 30px 50px;
  background: #fff;
  border-left: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(156, 156, 156, 0.5);
  box-shadow: 0px 0px 15px 8px rgba(156, 156, 156, 0.5);
  position: relative;
}

.contacts-view .search-by-keyword-info > h2 {
  margin-bottom: 15px;
}

.contacts-view .search-by-letter-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contacts-view .search-by-letter-info > h2 {
  font-size: 3.5rem;
  margin-right: 30px;
}

.contacts-view .search-by-letter-info > h5 {
  font-size: 1.25rem;
}

.contacts-view .search-by-letter-info > h5 > span {
  display: block;
}

.contacts {
  counter-reset: contact-number 0;
}

.contacts-list > .contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 40px;
  counter-increment: contact-number 1;
  position: relative;
}

.contacts-list > .contact:before {
  content: counter(contact-number);
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #ffa500;
  position: absolute;
  top: 4px;
  left: 0;
}

.contacts .search-by-keyword-info > .keyword {
  margin-bottom: 10px;
}

.contacts .search-by-keyword-info > .keyword > span {
  font-size: 1.75rem;
  font-weight: 600;
  color: #ffa500;
}

.contact > .contact-details > .name {
  font-size: 1.5rem;
}

.app-wrapper.active-search > .main-view {
  animation-name: shrinkWidth;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes shrinkWidth {
  from {
    flex-basis: 100%;
  }
  to {
    flex-basis: 50%;
  }
}

.search-filter .keyword-input {
  width: 400px;
  margin-bottom: 30px;
  text-align: center;
}

.alphabet-tabs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: -34px;
}

.alphabet-tabs > button {
  width: 34px;
  border: 3px solid #fff;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4.25rem 0 0.625rem 0;
  -webkit-box-shadow: -7px 5px 5px -2px rgba(156, 156, 156, 0.5);
  box-shadow: -7px 5px 5px -2px rgba(156, 156, 156, 0.5);
  margin-top: -3px;
}

.alphabet-tabs > button:focus {
  outline: none;
}

.notification {
  width: 80%;
  background: white;
  font-size: 1.25rem;
  text-align: left;
  border: 2px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  margin: 50px 0 10px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40%;
}

.notification.success,
.notification.success > span {
  border-color: #a5c90f;
}

.notification.failure,
.notification.failure > span {
  border-color: #ff6031;
}

.notification > span {
  width: -webkit-calc(100% + 4px);
  width: -moz-calc(100% + 4px);
  width: calc(100% + 4px);
  height: 50px;
  font-weight: bold;
  color: white;
  line-height: 50px;
  background: grey;
  padding: 0 20px;
  border: 2px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  top: -50px;
  left: -2px;
}

.notification.success > span {
  background: #a5c90f;
}

.notification.failure > span {
  background: #ff6031;
}
